:root {
  --primary: #713abe;
  --bg: #f6f6f6;
  --text: #1c1c1c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: "Open Sans", sans-serif;
}

input,
button {
  font-size: 16px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 7%;
  background-color: rgba(214, 214, 214, 0.8);
  border-bottom: 1px solid var(--text);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  color: var(--text);
}

main {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  padding: 70px 16px 16px;
}

.input_section {
  display: flex;
  flex-direction: column;
  padding: 16px;
  /* border: 1px solid var(--text);  */
  border-radius: 10px;
  background-image: url(background.jpg);
}

.input_section > h2 {
  text-align: center;
  color: var(--text);
}

.input_section > form > .input {
  margin: 8px 0;
}

.input_section > form > button {
  background-color: var(--text);
  color: var(--bg);
  border: 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.input_section > form > button > span {
  font-weight: bold;
}

.input_section > form > .input > input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--text);
  outline: none;
}
.input_section > form > .input > input:focus {
  border-bottom: 2px solid var(--text);
}

.input_section > form > .input > label {
  color: var(--text);
  font-weight: bold;
}

.input_section > form > .input_inline {
  margin: 12px 0;
  display: flex;
  align-items: center;
}

.input_section > form > .input_inline > label {
  color: var(--text);
  font-weight: bold;
  margin-right: 10px;
}

.search_section {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border: 1px solid black;
  border-radius: 10px;
}

.search_section > h2 {
  color: var(--text);
}

.search_section > form {
  padding: 16px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr 0.5fr;
  grid-gap: 10px;
}

.search_section > form > label {
  display: flex;
  align-items: center;
}

.search_section > form > input {
  padding: 5px;
  border-radius: 5px;
}

.search_section > form > button {
  background-color: var(--text);
  color: var(--bg);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.book_shelf {
  margin: 16px 0 0 0;
  border: 1px solid black;
  padding: 16px;
  border-radius: 10px;
  background-image: url(background-wood.jpg);
}

.book_shelf > h2 {
  color: var(--text);
}

.book_shelf > .book_list {
  padding: 16px;
}

.book_shelf > .book_list > .book_item {
  max-width: 300px;
  margin: 0 auto 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.book_shelf > .book_list > .book_item > h3,
p {
  margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
  border: 0;
  padding: 5px;
  margin: 0 5px 0 0;
  border-radius: 5px;
  cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
  background-color: darkgreen;
  color: var(--bg);
}

.book_shelf > .book_list > .book_item > .action > .yellow {
  background-color: rgb(211, 211, 9);
  color: var(--bg);
}

.book_shelf > .book_list > .book_item > .action > .red {
  background-color: darkred;
  color: var(--bg);
}
